          {{> header}}
          <form class="form-horizontal" method="POST" action="/_IIadmin/writeConfig">
            <fieldset>
              <legend>Host settings</legend>
              <div class="control-group">
                <label class="control-label" for="host">Target Host</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" name="host" id="host" value="{{{Host}}}">
                  <p class="help-block">Example: http://domain.tld</p>
                </div>
              </div> 
         <!-- <legend>Cache settings</legend>
          <div class="control-group">
            <label class="control-label" for="filetypes">Filetypes to cache</label>
            <div class="controls">
              <input type="text" class="input-xlarge" name="filetypes" id="filetypes">
              <p class="help-block">Example: * (Regex)</p>
            </div>
          </div> 
          <div class="control-group">
            <label class="control-label" for="duration">Duration to cache (in hours)</label>
            <div class="controls">
              <input type="text" class="input-xlarge" name="duration" id="duration">
              <p class="help-block">Example: 24</p>
            </div>
          </div>  -->
          <input type="hidden" name="CSRFToken" value="{{{csrfToken}}}">
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
      {{> footer}}