<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Ivory-Iron - Admin</title>
  <meta name="description" content="A reverse proxy for Google App Engine written in Go.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  body {
    padding-top: 60px;
  }
  </style>
  <link href="/_IIadmin/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/_IIadmin/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>
    <body>
     <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container-fluid">
           <a class="brand" href="/">Ivory-Iron Administration</a>
         </div>
       </div>
     </div>
     <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Administration</li>
              <li class="active"><a href="/_IIadmin/">Settings</a></li>
              <!--   <li><a href="/_IIadmin/stats">Statistics</a></li> -->
            </ul>
          </div>
        </div>
        <div class="span9">